/* 文章页背景 */
.layout div {
    /* 以下代表透明度为0.5 可以自行修改*/
    background: rgba(255,255,255,.5);
}


/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表透明度为0.5 */
    background: rgba(255,255,255,.5);
}
/*侧边卡片的透明度 */
:root {
  --card-bg: rgba(255, 255, 255, .5);
}

#body-wrap {
    background: linear-gradient(102.7deg,#fddaff 8.2%,#dfadfc 19.6%,#adcdfc 36.8%,#adfcf4 73.2%,#caf8d0 90.9%);
/* 背景图像的地址（url括号里）  */
  background: url("/img/MG7.jpg");
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: 100% 100%;
  
  -moz-background-size: 100% 100%;

}

